.body {
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
    background:rgba(12,0,12, 0.8) url("/assets/img/fondo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.body::before {
    z-index: -1;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    background: #44c4e7;
    /* IE Fallback */
    background:rgba(128, 116, 128, 0.8) url("/assets/img/fondo.jpg") no-repeat center center fixed;
    width: 100%;
    height: 100%;
  }
  .form {
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    background: #fff;
    width: 395px;
    margin: -140px 0 0 -182px;
    padding: 40px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding: 3px 10px;
    border: #242a3a4d 5px solid;
    border-radius: 20px;
  }
  .form h2 {
    margin: 0 0 20px;
    line-height: 1;
    color: #00003f;
    font-size: 18px;
    font-weight: 400;
  }
 
  .form button {
    cursor: pointer;
    background: #00003f;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  
  }
  .form button:hover {
    background: #369cb8;
  }
  