<h2 mat-dialog-title class="title" align="center"> Recomendaciones</h2>
<div mat-dialog-content>
    <div>
        1. Quitar titulos o encabezados del archivo de excel
        <br>
        2. Convertir los datos numericos en tipo número
        <br>
        3. Mantener las siguientes columnas
        <br>
        &nbsp;&nbsp; - DigControl
        <br> 
        &nbsp;&nbsp; - Nombres
        <br> 
        &nbsp;&nbsp; - DirRuta
        <br> 
        &nbsp;&nbsp; - NumeroFactura
        <br> 
        &nbsp;&nbsp; - FechaFactura
        <br> 
        &nbsp;&nbsp; - TotalFactura
        <br> 
         4. Convertir el archivo en formato .csv
        <br> 
    </div>
</div>